*{
    margin:20px;
    padding:10px;
}
body{
    background-color:rgb(198, 245, 204);
    font-family: sans-serif;
}
#titulo{
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
    font-size: 20px;
    color:rgba(255, 0, 0, 0.521);
}
#link {
    display: block;
    text-align: center;
    font-family:'Times New Roman';
    font-size: 20px;
    color:blue;
}
#link:hover{
    color:red;
    font-size:21px;
}
#tabela{
    background-color:azure;
    border: 1px solid ;
    width: 40%;
}
#formulario{
    input[type="text"]{
        font-size: 15px;
        color: rgb(110, 110, 209)
    }
    input[type="radio"]{
         accent-color: brown;
    }
    button[type="submit"]{
        background-color: #3FAC36;
        color: white;
        cursor: pointer;
    }
}
#iconesredessociais{
   color:white;
}
.icone{
    width: 60px;   
    height: 60px;  
    border-radius: 50%;
    object-fit: cover;
}

